soap-client/src/main/resources/greeting.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/ws/elements" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/ws/elements" targetNamespace="http://example.com/ws/elements">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/ws/elements">
	
	<xs:element name="greetingRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="greetingResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="greetingError">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errorMessage" type="xs:normalizedString"/>
				<xs:element name="errorCode" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="greetingResponse">
    <wsdl:part element="tns:greetingResponse" name="greetingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greetingRequest">
    <wsdl:part element="tns:greetingRequest" name="greetingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GreetingServicePort">
    <wsdl:operation name="greeting">
      <wsdl:input message="tns:greetingRequest" name="greetingRequest">
    </wsdl:input>
      <wsdl:output message="tns:greetingResponse" name="greetingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingServicePortSoap11" type="tns:GreetingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="greeting">
      <soap:operation soapAction=""/>
      <wsdl:input name="greetingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="greetingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetingServicePortService">
    <wsdl:port binding="tns:GreetingServicePortSoap11" name="GreetingServicePortSoap11">
      <soap:address location="http://localhost:8080/app/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>